/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-oct-2024, 9:41:15
    Author     : 2dam
*/
#pane{
 -fx-background-image: url("fondo.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 900;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}
.labelRounded{
            -fx-background-radius: 15; 
            -fx-border-radius: 15; 
            -fx-border-color: #2c3e50; 
            -fx-border-width: 2;
}
            
